* {
  font-family: Helvetica, sans-serif;
}

.comments {
  background-color: #f7f7f7;
  padding: 8px 15px;
}

.border_box {
  background-color: inherit;
  border: 2px solid #6ea8fe;
  border-radius: 15px;
}

.comment_btn {
  font-size: 12px !important;
  padding: 5px 7px !important;
  margin-top: 5px !important;
}

.comment_full_new{
  margin: 10px 20px !important;
}
